:root {
  --primary: #fff;
  --blue: #b3ddf2;
  --red: #ff0000;
}

.btn {
  border: none;
  font-family: "New Athletic M54";
  border-radius: 2px;
  cursor: pointer;
  font-family: "New Athletic M54";

  outline: none;
  padding: 8px 30px;
}

.btn--primary {
  background-color: var(--primary);
  border: 1px solid red;
  color: var(--red);
  transition: all 0.3s ease-out;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid white;
  color: red;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.btn--outline2 {
  background-color: transparent;
  border: 1px solid white;
  color: red;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.btn--outline3 {
  background-color: red;
  border: 1px solid #b3ddf2;
  color: white;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.btn--primary-send {
  background-color: transparent;
    border: 1px solid red;
    color: red;

}



.btn--bigoutline {
  background-color: transparent;
  border: 1px solid white;
  color: red;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}
.btn--bigblueprimary {
  background-color: #b3ddf2;
  border: 1px solid white;
  color: red;
  padding: 8px 20px;
  text-shadow: 2px 2px 5px black;
  transition: all 0.3s ease-out;
  margin-right: 0.5em;
}

.btn--bigprimary {
  background-color: white;
  border: 1px solid #b3ddf2;
  color: red;
  padding: 8px 20px;
  text-shadow: 2px 2px 5px black;
  transition: all 0.3s ease-out;
  margin-left: 0.5em;
}

.btn--medium {
  font-size: 20px;
  padding: 8px 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--xlarge {
  padding: 12px 50px;
  font-size: 40px;
}

.btn--medium:hover,
.btn--large:hover {
  background-color: white;
  color: red;
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background-color: white;
  transition: all 0.3s ease-out;
}
.btn--outline2:hover {
  color: #b3ddf2;
  transition: all 0.3s ease-out;
}
.btn--outline3:hover {
  color: red;
  background-color: transparent;
  transition: all 0.3s ease-out;
}

.btn--primary:hover {
  background-color: transparent;
  transition: all 0.3s ease-out;
}
.btn--primary-send:hover {
  background-color: var(--blue);
}

.btn--bigblueprimary:hover {
  background-color: transparent;
  transition: all 0.3s ease-out;
}

.btn--bigprimary:hover {
  background-color: transparent;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .btn--bigblueprimary {
    margin-right: 0em;
    margin-bottom: .5em;
  }

  .btn--bigprimary {
    margin-left: 0em;
    padding-left: .5em;
    padding-right: .5em;
  }
  .btn--bigblueprimary:hover {
    background-color: transparent;
    transition: all 0.3s ease-out;
  }

  .btn--bigprimary:hover {
    background-color: transparent;
    transition: all 0.3s ease-out;
  }
}
