.login-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  margin: auto;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-row {
  display: none;
}

.mobile-header-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 30px;
  text-shadow: 2px 2px 4px black;
}

.mobile-logo {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 30px;
  text-shadow: 2px 2px 4px black;
}

.trademark {
  display: none;
}

.mobile-trademark {
  display: flex;
  margin-left: auto;
  margin-right: 1em;
  padding-bottom: 1em;
}

.side-image-container {
  background-image: url('./wrig-ConvertImage.jpg');
  background-repeat: no-repeat;
  background-position: -500px;
  background-size: stretch;
  border-radius: 8px;
  display: none;
  float: left;
  height: 91.5vh;
  max-width: 440px;
  position: relative;
  right: 0.1em;
  width: 100%;
}

.side-image-title-container {
  margin: auto auto 1em auto;
  justify-content: space-around;
}

.side-image-logo {
  height: 140px;
  padding-left: 1em;
  width: auto;
}

.side-image-subtitle {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 75px;
  line-height: 70px;
  padding-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.5em;
  text-shadow: 2px 2px 4px black;
}

.mobile-divider {
  background-color: grey;
  height: 1px;
  margin-bottom: 0.25em;
  margin-top: 1em;
  text-align: center;
  width: 98%;
}

.form-switch-wrapper {
  height: 100%;
  justify-content: center;
  margin-top: 10em;
  width: 100%;
}

/* media queries */
@media screen and (min-width: 800px) {
  .side-image-container {
    display: flex;
  }

  .trademark {
    margin-left: auto;
    margin-right: 0em;
    padding-right: 1em;
  }
}

@media screen and (min-width: 610px) {
  .trademark {
    margin-left: auto;
    margin-right: 0em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 500px) {
  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0em;
    margin-right: 0em;
    padding: 0em 1em 0em;
  }

  .mobile-header-row {
    display: none;
  }

  .trademark {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 0.75em;
  }

  .logo-mobile {
    padding-left: 1em;
  }

  .mobile-trademark {
    display: none;
  }
}
