.bears-banner {
  background-position: stretch;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('https://i.imgur.com/sUim7TH.png');
  box-shadow: 3px 3px 5px black;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  max-height: 20em;
}

.cubs-banner {
  background-position: stretch;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('https://i.imgur.com/lN8WTqA.png');
  box-shadow: 3px 3px 5px black;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  max-height: 20em;
}

.bulls-banner {
  background-position: stretch;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('https://i.imgur.com/j0meUTh.jpg" title="source: imgur.com');
  box-shadow: 3px 3px 5px black;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  max-height: 20em;
}

.bears-title {
  color: #d66e23;
  font-family: 'New Athletic M54';
  font-size: 80px;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 6px black;
}

.cubs-title {
  color: blue;
  font-family: 'New Athletic M54';
  font-size: 80px;
  height: 100%;
  text-align: center;
  text-shadow: 2px 2px 6px white;
}

.bulls-title {
  color: red;
  font-size: 80px;
  font-family: 'New Athletic M54';
  text-align: center;
  text-shadow: 2px 2px 6px black;
}

.blog-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 90%;
}

.old-blogs {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.top-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5em;
  justify-content: center;
}

/* media queries */

/* tablets */
@media only screen and (min-width: 760px) {
  .bears-banner {
    height: 10em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .cubs-banner {
    height: 10em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .bulls-banner {
    height: 10em;
    margin-left: 3em;
    margin-right: 3em;
  }

  .bears-title {
    font-size: 120px;
    padding-top: 0.1em;
  }

  .bulls-title {
    font-size: 120px;
  }

  .cubs-title {
    font-size: 130px;
  }
}

@media only screen and (min-width: 1025px) {
  .bears-banner {
    height: 15em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .cubs-banner {
    height: 15em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .bulls-banner {
    height: 15em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .bears-title {
    font-size: 130px;
    padding-top: 0.4em;
  }

  .cubs-title {
    font-size: 130px;
    padding-top: 0.25em;
  }

  .bulls-title {
    font-size: 130px;
    padding-top: 0.25em;
  }
}
