.author-title {
  color: red;
  font-family: 'Trebuchet MS';
  font-size: 25px;
  margin-bottom: 0.5em;
  margin-left: 9em;
  margin-top: 0em;
  text-shadow: 2px 2px 3px black;
}

.bio-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 70%;
}

.bio-image {
  border-radius: 40px;
  height: 8em;
}

.follow {
  margin-top: 1em;
}

.about-container {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  margin-left: 1em;
  margin-top: 1em;
}
