.cards {
  background: #fff;
  padding: 4rem;
  padding-bottom: 0em;
}

.cards-title {
  font-family: 'New Athletic M54';
  text-align: center;
}

.cards-container {
  background-color: transparent;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.cards-wrapper {
  margin: 50px 0 20px;
  width: 100%;
}

.cards-items {
  margin-bottom: 24px;
}

.cards-item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex: 1;
  margin: 0 1rem;
}

.cards-item-link {
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  display: flex;
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  flex-flow: column;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.cards-item-pic-wrap {
  overflow: hidden;
  padding-top: 67%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.label-box {
  background-color: white;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: .5em;
  position: absolute;
  top: .5em;
  z-index: 1000000;
}

.fade-img {
  animation-duration: 2s;

  animation-name: fade-img;
}

.cards-item-pic-wrap::after {
  background-color: #b3ddf2;
  box-sizing: border-box;
  color: black;
  content: attr(data-category);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  max-width: calc((100%) - 60px);
  padding: 6px 8px;
  position: absolute;
}

.cards-item-pic {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s linear;
  width: 100%;
}

.cards-item-pic:hover {
  transform: scale(1.1);
}

.cards-item-info {
  padding: 20px 30px 30px;
}

.cards-item-text {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.header-container {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }

  .logo {
    width: 75%;
  }
}
