.header-container {
  margin-top: 0.5em;
}

.instructions {
  font-style: italic;
}

.username-password-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.old-password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-right: 3em;
  margin-top: 0.5em;
  width: 80%;
}

.old-password-input {
  font-size: 18px;
  font-style: 'Trebuchet MS';
  margin-bottom: 1em;
  padding: 0.25em;
}

.new-pass-name-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.submit-old {
  width: 20%;
}

.new-pass-container {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.new-username-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.new-username-input {
  font-size: 18px;
  font-style: 'Trebuchet MS';
  padding: 0.25em;
}

.new-pass-input {
  font-size: 18px;
  font-style: 'Trebuchet MS';
  padding: 0.25em;
}

.inputs-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.exit-button {
  margin-left: 2em;
}

.main-button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.both-forms {
  display: flex;
  flex-direction: row;
}

.new-button {
  margin-top: 1em;
}

.all-container {
  display: flex;
  flex-direction: column;
}
