.hero-container {
  align-items: center;
  background: url('https://i.imgur.com/5RNh0SZ.png') center center/cover
    no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  height: 100vh;

  object-fit: contain;
  width: 100%;
}

.title {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 100px;
  margin-top: 2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
  position: relative;
  text-shadow: 2px 2px 4px black;
  top: 0.2em;
}

.subtitle {
  color: #fff;
  font-family: 'New Athletic M54';
  font-size: 50px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px black;
}

.btn-left {
  margin: 1em;
}

@media screen and (max-width: 960px) {
  .title {
    margin-top: em;
    font-size: 80px;
  }
  .subtitle {
    font-size: 35px;
  }

  .hero-btns {
    display: block;
    align-items: center;
    width: 200px;
  }
  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 25px;
  }
}
