.modal-container {
  z-index: 999;
  position: absolute;
  left: 35%;
  top: 200%;
  margin-bottom: 7em;
  width: 35%;
  height: 440px;
  background-color: #e6e6e6;
  border-radius: 6px;
  box-shadow: 0 0 40px -10px #000;
  padding: 10px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
}

.modal-title {
  font-family: "New Athletic M54";
  margin-left: 1em;
  margin-top: 0.5em;
  width: 190px;
  border-bottom: 3px solid black;
}
