.footer-container {
  background-color: #b3ddf2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-contact {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

.footer-contact-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0.5em;
  text-align: center;
}

.add-post {
  color: red;
  cursor: pointer;
  font-family: 'New Athletic M54';
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.add-post-container {
    margin-top: 1em;
}
