@import '~quill/dist/quill.snow.css';

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  text-align: center;
}

.add-title {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 60px;
}

.add-post-form {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-flow: column;
  font-family: 'Trebuchet MS';
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.above-blog-container {
  display: flex;
  flex-flow: column;
  margin-top: 1em;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font: 16px 'Trebuchet MS';
  height: 45px;
  margin-left: 1em;
  margin-right: 4em;
  margin-bottom: 10px;
  outline: none;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.submit-button {
  -moz-box-shadow: inset 0px 1px 0px 0px grey;
  -webkit-box-shadow: inset 0px 1px 0px 0px grey;
  background-color: red;
  border: 1px solid #b3ddf2;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px darkred;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Trebuchet MS';
  font-size: 18px;
  padding: 8px 18px;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  width: 8em;
}

.category-input {
  font-family: 'Trebuchet MS';
  font-size: 18px;
  height: 3em;
  margin-left: 1em;
  margin-right: auto;
  padding: 0.5em;
}

.submit-buton:hover {
  background-color: white;
  color: red;
  transition: all 0.3s ease-out;
}

.quill {
  height: 20em;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.modal-text {
  font-size: 20px;
}

.tags {
  margin-top: 1em;
  width: 92%;
}

.close-modal {
  background-color: red;
  border-radius: 5px;
  height: 1em;
  margin: 1em;
  width: 3em;
}

@media only screen and (min-width: 1024px) {
  .quill {
    height: 30em;
  }
}

@media only screen and (min-width: 1500px) {
  .add-post-form {
    width: 80%;
  }

  .quill {
    height: 30em;
  }

  .submit-button {
    margin-top: 1em;
  }
}
