* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sign-up {
  align-items: center;
  display: flex;
  font-size: 3rem;
  height: 90vh;
  justify-content: center;
}

.sign-up {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 100px;
}

.about {
  font-family: 'New Athletic M54';
  font-size: 100px;
  text-align: center;
}

.signup {
  font-size: 100px;
  font-family: 'New Athletic M54';
  text-align: center;
}

.about-header {
  font-family: 'New Athletic M54';
  font-size: 100px;
  padding-top: 0em;
  text-align: center;
}

.about-container {
  margin-top: 1em;
}

.about-subheader {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 40px;
  margin-bottom: 1em;
  text-align: center;
}

.about-main-image {
  border-radius: 6px;
  box-shadow: 0 0 40px -10px #000;
  display: flex;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.about-text-container {
  margin-bottom: 2em;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 1em;
}

.paragraph-header {
  font-size: 30px;
  font-family: 'Trebuchet MS';
  margin-bottom: 0.5em;
}

.about-text-questions {
  font-family: 'Trebuchet MS';
  font-size: 20px;
  font-style: italic;
  margin-bottom: 1em;
}

.about-text {
  font-family: 'Trebuchet MS';
  font-size: 20px;
}

.about-text-last {
  font-family: 'Trebuchet MS';
  font-size: 20px;
  margin-top: 1em;
}

.about-title-container {
  text-align: center;
}
