.reset-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 1em;
}

.reset-title {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 30px;
  font-weight: 900px;
  text-align: left;
  text-shadow: 2px 2px 4px black;
}

.reset-instructions {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
  text-align: left;
}

.reset-cancel-container {
  margin-right: 1em;
}

.reset-cancel {
  margin-right: 1em;
}

.reset-button-container {
  display: flex;
  flex-direction: row;
}

.reset-email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  max-width: 600px;
}

.reset-email-label {
  color: red;
  font-family: 'New Athletic M54';
  font-size: 20px;
  font-weight: 900;
}

.reset-email-input {
  background-color: white;
  height: 30px;
  max-width: 800px;
  width: 80%;
}

.reset-submit {
    padding: 0;
}

.reset-email-input:active {
  background-color: transparent;
}
/* breakpoints */

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 540px) {
  .reset-isntructions {
    padding-left: 1.5em;
  }
}

@media screen and (min-width: 650px) {
  .reset-wrapper {
    padding-left: 2em;
  }
}

@media screen and (min-width: 825px) {
  .reset-wrapper {
    padding-left: 1em;
  }
}
